<div class="modal" id="modal">
    <div class="row rounded-4" id="caixa">
        <div id="login" class="content">
            <h2>Login</h2>
            <hr>
            <form action="/login" method="POST">

                <div id='sucessoCadastro' style="display: block;">
                    {{#if messages.cadastro}}
                    <script>
                        let sucessoCadastro = document.querySelector("#modal").style.display = 'block';
                    </script>
                    <div>{{messages.cadastro}}</div>
                    {{/if}}
                </div>

                <div class="form-group">
                    <label for="nick">Peninsola:</label>
                    <input type="text" id="nick" name="nick">
                </div>

                <div class="form-group">
                    <label for="senha">Senha:</label>
                    <input type="text" id="senha" name="senha">
                </div>

                <div id='erro' style="display: block;">
                    {{#if messages.erroLogin}}
                    <script>
                        let login = document.querySelector("#modal").style.display = 'block';
                    </script>
                    <div>{{messages.erroLogin}}</div>
                    {{/if}}
                </div>

                <div class="form-buttons">
                    <input type="submit" value="Logar" name="logar">
                    <input type="button" id="btnCriar" value="Criar">
                </div>
            </form>
        </div>
    </div>
</div>