<div class="modal" id="modalr">
    <div id="rank img-fluid" class="content">
        <table>
            <tr>
                <td colspan="3" id="titulo">RANKING</td>
            </tr>

            <tr>
                <td colspan="3" id="titulo"> MELHORES PONTUAÇOES </td>
            </tr>

            <tr>
                <td colspan="3" id="input">
                    <input type="search" name="nickRank" id="nickRank" onkeyup="pesquisar()">
                </td>
            </tr>

            {{#each pontuacoes}}
            <tr id="pontuacoes">
                <td class="posicao">{{this.posicao}}.</td>
                <td class="nicks">{{this.tb_usuario.UsNickname}}</td>
                <td class="pontuacao">{{this.PoPontuacao}}</td>
            </tr>
            {{/each}}

            {{!-- <tr>
                <td colspan="3" id="footer">
                    &copy; TI93 2023. Todos os direitos reservados.
                </td>
            </tr> --}}
        </table>
        <div id="divr">
            <td id="td2" colspan="2"><button id="prevButton"><svg xmlns="http://www.w3.org/2000/svg" width="35"
                        fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg></button></td>
            <td id="td2" colspan="2"><button id="proxButton"><svg xmlns="http://www.w3.org/2000/svg" width="35"
                        fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                    </svg></button></td>
        </div>


        <script>
            let posicoes = document.getElementsByClassName('posicao');
            let nicks = document.getElementsByClassName("nicks");
            let pontuacao = document.getElementsByClassName("pontuacao");
            let pageSize = 10;
            let currentPage = 1;

            const renderPage = () => {
                let startIndex = (currentPage - 1) * pageSize;
                let endIndex = startIndex + pageSize;

                for (let i = 0; i < nicks.length; i++) {
                    if (i >= startIndex && i < endIndex) {
                        nicks[i].style.display = "";
                        pontuacao[i].style.display = "";
                        posicoes[i].style.display = "";
                    } else {
                        nicks[i].style.display = "none";
                        pontuacao[i].style.display = "none";
                        posicoes[i].style.display = "none";
                    }
                }
            };

            renderPage();

            document.getElementById('proxButton').addEventListener('click', () => {
                if (currentPage < Math.ceil(nicks.length / pageSize)) {
                    currentPage++;
                    renderPage();
                }
            });

            document.getElementById('prevButton').addEventListener('click', () => {
                if (currentPage > 1) {
                    currentPage--;
                    renderPage();
                }
            });
        </script>
    </div>
</div>