<div class="modal" id="modalr">
    <div id="rank" class="content">
        <table>
            <tr>
                <td colspan="3" id="titulo">RANKING</td>
            </tr>

            <tr>
                <td colspan="3" id="titulo"> MELHORES PONTUAÇOES </td>
            </tr>

            <tr>
                <td colspan="3" id="input">
                    <input type="search" name="nickRank" id="nickRank" onkeyup="pesquisar()">
                </td>
            </tr>

            {{#each pontuacoes}}
            <tr id="pontuacoes">
                <td class="posicao">{{this.posicao}}.</td>
                <td class="nicks">{{this.tb_usuario.UsNickname}}</td>
                <td class="pontuacao">{{this.PoPontuacao}}</td>
            </tr>
            {{/each}}

            <tr>
                <td><button id="prevButton">Prévio</button></td>
                <td><button id="proxButton">Próximo</button></td>
            </tr>
        </table>
    </div>
</div>