<div class="modal" id="modalr">
    <div id="rank" class="content">
        <table>
            <tr>
                <td colspan="3" id="titulo">RANKING</td>
            </tr>
            <tr>
                <td colspan="3" id="titulo"> MELHORES PONTUAÇOES </td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="search" name="nickRank" id="nickRank" onkeyup="pesquisar()">
                </td>
            </tr>
            {{#each pontuacoes}}
            <tr id="pontuacoes">
                <td class="posicao">{{this.posicao}}.</td>
                <td class="nicks">{{this.tb_usuario.UsNickname}}</td>
                <td class="pontuacao">{{this.PoPontuacao}}</td>
            </tr>
            {{/each}}
        </table>


        <footer>
            <p>&copy; TI93 2023. Todos os direitos reservados.</p>
        </footer>

        <script>
            let posicoes = document.getElementsByClassName('posicao');

            const pesquisar = () => {
                let input = document.getElementById("nickRank").value;
                input = input.toLowerCase();
                let nicks = document.getElementsByClassName("nicks");
                let pontuacao = document.getElementsByClassName("pontuacao");

                for (i = 0; i < nicks.length; i++) {
                    if (!nicks[i].innerHTML.toLowerCase().includes(input)) {
                        nicks[i].style.display = "none";
                        pontuacao[i].style.display = "none";
                        posicoes[i].style.display = "none";
                    }
                    else {
                        nicks[i].style.display = "";
                        pontuacao[i].style.display = "";
                        posicoes[i].style.display = "";
                    }
                }
                console.log(nicks);
            };

            console.log(posicoes);

            for (let i = 0; i < posicoes.length; i++) {
                if (posicoes[i].innerText === '1.') {
                    posicoes[i].style.color = "#ffd700";
                } else if (posicoes[i].innerText === '2.') {
                    posicoes[i].style.color = "#f2f2f2";
                } else if (posicoes[i].innerText === '3.') {
                    posicoes[i].style.color = "#cd7f32";
                }
            }
        </script>


    </div>
</div>