<div class="modal" id="modalr">
    <div id="rank" class="content">
        <table onload="pontuacoesPosicao()">
            <tr>
                <td colspan="3" id="titulo">RANKING</td>
            </tr>

            <tr>
                <td colspan="3" id="titulo"> MELHORES PONTUAÇOES </td>
            </tr>

            <tr>
                <td colspan="3" id="input">
                    <input type="search" name="nickRank" id="nickRank" onkeyup="pesquisar()">
                </td>
            </tr>

            {{#each pontuacoes}}
            <tr id="pontuacoes">
                <td class="posicao">{{this.posicao}}.</td>
                <td class="nicks">{{this.tb_usuario.UsNickname}}</td>
                <td class="pontuacao">{{this.PoPontuacao}}</td>
            </tr>
            {{/each}}

            <tr>
                <td><button id="prevButton">Prévio</button></td>
                <td><button id="proxButton">Próximo</button></td>
            </tr>

            <tr>
                <td colspan="3" id="footer">
                    &copy; TI93 2023. Todos os direitos reservados.
                </td>
            </tr>
        </table>


        <script>
            let posicoes = document.getElementsByClassName('posicao');
            let nicks = document.getElementsByClassName("nicks");
            let pontuacao = document.getElementsByClassName("pontuacao");
            let pageSize = 20;
            let currentPage = 1;

            const renderPage = () => {
                let startIndex = (currentPage - 1) * pageSize;
                let endIndex = startIndex + pageSize;

                for (let i = 0; i < nicks.length; i++) {
                    if (i >= startIndex && i < endIndex) {
                        nicks[i].style.display = "";
                        pontuacao[i].style.display = "";
                        posicoes[i].style.display = "";
                    } else {
                        nicks[i].style.display = "none";
                        pontuacao[i].style.display = "none";
                        posicoes[i].style.display = "none";
                    }
                }
            };

            renderPage();

            document.getElementById('proxButton').addEventListener('click', () => {
                if (currentPage < Math.ceil(nicks.length / pageSize)) {
                    currentPage++;
                    renderPage();
                }
            });

            document.getElementById('prevButton').addEventListener('click', () => {
                if (currentPage > 1) {
                    currentPage--;
                    renderPage();
                }
            });
        </script>
    </div>
</div>