<div class="modal" id="modal2">
    <div class="row rounded-4" id="caixa2">
        <div class="content">
            <h2>Sign up</h2>
            <hr>
            <!-- Insire seu conteúdo -->
            <form action="/registrar" method="POST">

                <div class="form-group">
                    <label for="cnome">Nome:</label>
                    <input type="text" name="cnome" id="cnome">
                </div>

                <div class="form-group">
                    <label for="cnick">Nickname:</label>
                    <input type="text" name="cnick" id="cnick">
                </div>

                <div class="form-group">
                    <label for="csenha">Senha:</label>
                    <input type="text" name="csenha" id="csenha">
                </div>

                <div class="form-buttons">
                    <input type="submit" value="Cadastrar">
                    <div id="entrar">
                        <p><ins>Entrar</ins></p>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>