<div class="game-board">

    <div class="containerJogo">
        <img src="/img/jogo/fundo/fundo.png" class="containerJogo">


    </div>
    <!-- Nuvens -->
    <div class="containerJogo">
        <img src="/img/jogo/fundo/clouds.png" class="clouds">
    </div>



    <!-- Arvores -->
    <div class="containerJogo">

        <img src="/img/jogo/fundo/arvores.png" class="fundo">

    </div>



    <!-- Vidros -->
    <img src="/img/jogo/fundo/vidros.png" class="janela"><img src="/img/jogo/fundo/vidros.png" class="janela2">

    <!-- Plataforma -->
    <img src="/img/jogo/fundo/footer.png" class="footer"> <img src="/img/jogo/fundo/footer.png" class="footer2">



    <!-- Personagem -->
    <img src="/img/jogo/new-Piskel (3).gif" class="kai">


    <!-- Computador -->
    <img src="/img/jogo/computador.gif" class="pc">

    <div class="pontos gcontainer">

        <h2 id="score" class="d-flex justify-content-center text-center"></h2>
        <div id="gameover" class="containerJogo ">
            <h1 class="py-5 text-center">Game over</h1>
            <form action="/pontuacao" method="POST" class="d-flex justify-content-center" data-user-id="{{userId}}">
                <input type="hidden" name="userId" value="{{userId}}">
                <div id="scoreFormContainer"></div>
                <input id="botaoVoltar" type="submit" class="btn btn-success display-6 d-flex justify-content-center"
                    value="Voltar para a Página Principal">
            </form>
        </div>
    </div>

</div>
<script src="/js/scriptJogo.js"></script>