<div class="game-board">

    <div class="container">
        <img src="/img/jogo/fundo/fundo.png" class="container">


    </div>
    <!-- Nuvens -->
    <div class="container">
        <img src="/img/jogo/fundo/clouds.png" class="clouds">
    </div>



    <!-- Arvores -->
    <div class="container">

        <img src="/img/jogo/fundo/arvores.png" class="fundo">

    </div>



    <!-- Vidros -->
    <img src="/img/jogo/fundo/vidros.png" class="janela"><img src="/img/jogo/fundo/vidros.png" class="janela2">

    <!-- Plataforma -->
    <img src="/img/jogo/fundo/footer.png" class="footer"> <img src="/img/jogo/fundo/footer.png" class="footer2" alt="">



    <!-- Personagem -->
    <img src="/img/jogo/new-Piskel (3).gif" class="kai">


    <!-- Computador -->
    <img src="/img/jogo/computador.gif" class="pc">

    <div class="pontos gcontainer">


        <h2 id="score" style="margin-left: 50%; color: #53cb0e; border: solid green; margin-right: 42%;"></h2>
        <div id="gameover" class="container">
            <h1 style="color: chartreuse;">Game over</h1>
        </div>

    </div>

</div>


<script src="/js/scriptJogo.js"></script>