<section class="row justify-content-md-center">
    <div id="div2" class="col-12 mt-5">

        <img class="col-10 col-sm-5 mx-auto mt-5 " id="logo" src="/img/logo.png" alt="">
    </div>
    <div id="div1" class="row justify-content-md-center mt-5">


        <section class="col-12 col-sm-4 mt-5">
            <div class="mt-5"><img id="pasta1" onmouseover="mudar1()" onmouseout="normal1()"
                    class="pastas col-3 me-2 mt-5" src="/img/pasta.png" alt=""></div>
            <span class="label1 fs-3 mt-1" for="">Rank</span>
        </section> 
        <section class="col-12 col-sm-4 mt-5">
            <div class="mt-5"><img id="pasta2" onmouseover="mudar2()" onmouseout="normal2()"
                    class="pastas col-3 me-2 mt-5" src="/img/pasta.png" alt=""></div>
            <span class="label1 fs-3 mt-1" for="">Novo Jogo</span>
        </section>

        <section class="col-12 col-sm-4 mt-5">
            <div class="mt-5"><img id="pasta3" onmouseover="mudar3()" onmouseout="normal3()"
                    class="pastas col-3 me-2 mt-5" src="/img/pasta.png" alt=""></div>
            <span class="label1 fs-3 mt-1" for="">Sobre</span>
        </section>


    </div>
</section>
<script src="/js/inicio.js"></script>