@media only screen and (max-width: 900px) {
    .label1 {
        font-size: 12pt !important;
    }
}

* {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url("/img/fungog.gif");
    overflow-x: hidden;
}

h2 {
    color: aliceblue;

    position: relative;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

button{
    border: none;
    background-color: transparent;
}

#divr{
    display: flex;
    position: relative;
    top: 15px;
}

#erro {
    font-size: 0.5em;
    color: red;
}

#sucessoCadastro {
    font-size: 0.5em;
    color: blue;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}

.label1 {
    color: aliceblue;
    position: relative;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal .content {
    background-image: url("/img/fundologin2.png");
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    width: 97%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border: solid black 2px;    
}

#caixa {
    background-image: url("/img/ffundo.png");
    width: 40%;
    height: 35%;
    margin: 15% auto;
    border: solid green 2px;
    min-width: 400px;
    min-height: 310px;
}

#caixa2 {
    background-image: url("/img/ffundo.png");
    width: 40%;
    height: 45%;
    margin: 15% auto;
    border: solid green 2px;
    min-width: 400px;
    min-height: 310px;
}

.modal #sobre {
    margin: 5% auto;
    padding: 20px;
    border-radius: 5px ;
    width: 70% ;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal #rank {
    background-image: url("/img/fundonovo2.png");
    margin: 2% auto;
    padding: 20px;
    border-radius: 5px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
}

.modal footer {
    position: absolute;
    bottom: 0;
}

#erro {
    display: None;
}

#erro .abrir {
    display: block;
}

#div1 {
    text-align: center;
}

#div2 {
    text-align: center;
}

p {
    font-size: 10px;
    margin: 15% auto;
    color: aquamarine;
}

/* Ranking */
table {
    color: black;
    display: flex;
    justify-content: space-between;
}

#titulo {
    text-align: center;
    font-size: 1.5em;
    color: black;
    position: relative;
    top: 50px;
}

#input {
    position: relative;
    top: 20px;
    padding: 30px 0 30px;
}

tr td {
    text-align: center;
    font-size: 1.2em;
}

tr td form {
    margin: 1em 0 1em;
}

#footer {
    font-size: .8em;
    padding-top: 20px;
    color: aquamarine;
}