@media only screen and (max-width: 900px) {
    .label1 {
        font-size: 12pt !important;
    }
}

@font-face {
    font-family: Pixel;
    src: url(PressStart2P-Regular.ttf);
}

body {

    background-image: url("/img/fungog.gif");
    overflow-x: hidden;

}

h2 {
    font-family: Pixel;
    color: aliceblue;

    position: relative;
}

.label1 {
    font-family: Pixel;
    color: aliceblue;
    position: relative;
}

#test {
    position: relative;
    top: -300px;
    right: 50px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal .content {
    background-image: url("/img/fundologin2.png");
    font-family: Pixel;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    width: 97%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border: solid black 2px;
}

#caixa {
    background-image: url("/img/ffundo.png");
    width: 40%;
    height: 35%;
    margin: 15% auto;
    border: solid green 2px;
    min-width: 400px;
    min-height: 310px;
}

#caixa2 {
    background-image: url("/img/ffundo.png");
    width: 40%;
    height: 40%;
    margin: 15% auto;
    border: solid green 2px;
    min-width: 400px;
    min-height: 310px;
}

.modal #sobre {
    background-color: greenyellow;
    font-family: Pixel;
    margin: 5% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.modal #rank {
    background-color: greenyellow;
    font-family: Pixel;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#erro {
    display: None;
}

#erro .abrir {
    display: block;
}

#div1 {
    text-align: center;
}

#div2 {
    text-align: center;
}

p {
    font-size: 10px;
    margin: 15% auto;
    color: aquamarine;
}